In [13]:
list = [1,2,3,4.0,"Python",True,[43,44,45]]
type(list)

list

In [7]:
print(list[0])
list[0] = 5
print(list[0])
print(list)

5
5
[5, 2, 3, 4.0, 'Python', True, [43, 44, 45]]

In [11]:
list.append("Rahul")
print(list)

[5, 2, 30, 30, 3, 4.0, 'Python', True, [43, 44, 45], 'Rahul', 'Rahul']

In [14]:
list.insert(2,30)
list

[1, 2, 30, 3, 4.0, 'Python', True, [43, 44, 45]]

In [15]:
list.remove(30)
list

[1, 2, 3, 4.0, 'Python', True, [43, 44, 45]]

In [16]:
list.pop(3)
print(list)

[1, 2, 3, 'Python', True, [43, 44, 45]]

In [19]:
list2 = list.copy()
print(list)
print(list2)

[1, 2, 3, 'Python', True, [43, 44, 45]]
[1, 2, 3, 'Python', True, [43, 44, 45]]

In [23]:
new_list = [1,2,3,4,5,6,7,8,9,10]
for i in new_list:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
num_list = []
for i in new_list:
    num_list.append(i**2)
print(num_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
num_list = []
for i in new_list:
    if i%2 == 0:
        num_list.append(i**2)
print(num_list)

# num_list = [i**2 for i in new_list if i%2 == 0] (one Line code)

[4, 16, 36, 64, 100]

In [30]:
list = [31,30,56,87,47,12,36,98,5,99,23]
for i in range(len(list)-1):
    for j in range(i+1,len(list)):
        if list[i]>list[j]:
            list[i],list[j] = list[j],list[i]

print(list)

[5, 12, 23, 30, 31, 36, 47, 56, 87, 98, 99]

In [33]:
len(list)

11

In [44]:
matrix = [[1,2,3,4,5],[6,7,8,9,10],
          [3,4,5,7,5],[7,5,4,3,6],
          [4,6,8,4,5],[6,78,64,6,7]]
matrix

[[1, 2, 3, 4, 5],
 [6, 7, 8, 9, 10],
 [3, 4, 5, 7, 5],
 [7, 5, 4, 3, 6],
 [4, 6, 8, 4, 5],
 [6, 78, 64, 6, 7]]

In [46]:
matrix[0][0:9]

[1, 2, 3, 4, 5]

In [47]:
matrix[3][2]

4

In [49]:
matrix1 = [[[1,2,3,4,5],[6,7,8,9,10]],
          [[3,4,5,7,5],[7,5,4,3,6]],
          [[4,6,8,4,5],[6,78,64,6,7]]]
matrix1

[[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]],
 [[3, 4, 5, 7, 5], [7, 5, 4, 3, 6]],
 [[4, 6, 8, 4, 5], [6, 78, 64, 6, 7]]]

In [53]:
matrix1[1][0][3]

7

In [57]:
tuple = (3,4,5,6,7,6,"Python")
print(tuple)
type(tuple)

(3, 4, 5, 6, 7, 6, 'Python')

tuple

In [59]:
tuple.count(6)

2

In [62]:
set = {21,23,21,25,24,24,89,54}
print(set)

{21, 54, 23, 24, 89, 25}

In [63]:
for i in set:
    print(i)

21
54
23
24
89
25

In [65]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10,5}

print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s1^s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{5}
{1, 2, 3, 4}
{1, 2, 3, 4, 6, 7, 8, 9, 10}

In [66]:
s1.add(5)

In [67]:
s1.remove(2)

In [71]:
set.discard(54)
print(set)

{21, 23, 24, 89, 25}

In [ ]:
dict = {"name" : "xyz" , "age" : 20}

In [73]:
dict["name"]

'xyz'

In [74]:
dict

{'name': 'xyz', 'age': 20}

In [76]:
dict["salary"] = 20000
print(dict)

{'name': 'xyz', 'age': 20, 'salary': 20000}

In [77]:
dict["Name"] = "Rahul"
print(dict)

{'name': 'xyz', 'age': 20, 'salary': 20000, 'Name': 'Rahul'}

In [82]:
dict.pop('age')

20

In [83]:
print(dict)

{'salary': 20000, 'Name': 'Rahul'}

In [87]:
dict.get("salary")

20000

In [100]:
string = "ajfjdfsdijdifj"
list = []
for i in range(0,len(string)-1):
    list.append(string[i])
print(list)

['a', 'j', 'f', 'j', 'd', 'f', 's', 'd', 'i', 'j', 'd', 'i', 'f']

In [105]:
string = "abcdefghijklmnopqrstuvwxyz"
list = []
for i in range(len(string)-2):
    list.append(string[i:i+3])
print(list)

['abc', 'bcd', 'cde', 'def', 'efg', 'fgh', 'ghi', 'hij', 'ijk', 'jkl', 'klm', 'lmn', 'mno', 'nop', 'opq', 'pqr', 'qrs', 'rst', 'stu', 'tuv', 'uvw', 'vwx', 'wxy', 'xyz']

In [ ]:
# program to find LCM.
# Program to find HCF.
# Cube sum of first n Natural Numbers.

In [6]:
a = int(input("Enter first No."))
b = int(input("Enter Second No."))
greater = 0
if a > b:
    greater = a
else:
    greater = b

while True:
    if greater % a == 0 and greater % b == 0:
        lcm = greater
        break
    greater += 1

print(f"LCM of {a} and {b} is {lcm}")

LCM of 15 and 22 is 330

In [8]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
smaller = 0
if a < b:
    smaller = a
else:
    smaller = b

hcf = 1
for i in range(1, smaller + 1):
    if a % i == 0 and b % i == 0:
        hcf = i

print(f"HCF of {a} and {b} is {hcf}")

HCF of 10 and 7 is 1

In [ ]:
n = int(input("Enter a Number"))
sum = 0
for i in range (1,n+1):
    sum = i**3 + sum

print(f"Sum of first {n} Numbers cube {sum}.")

Sum of first 4 Numbers cube 100